
<div class="mt-3">
  <!-- <a href="/addproduct" class="btn btn-primary">Add Product</a> -->
 <div class="row">
   <div class="col-2">
     <button type="button" class="btn btn-primary float-end m-2"
 data-bs-toggle="modal" data-bs-target="#exampleModal">Add User</button>
   </div>
 </div>


 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="add-edit-modal-close">

         </button>
       </div>
       <div class="modal-body">
         <app-add-user></app-add-user>
       </div>
     </div>
   </div>
 </div>
 </div>
     <div class="row">
      <app-single-user [user]="user" *ngFor="let user of usersList" ></app-single-user>


     </div>

