<div class="container">
  <form #userForm="ngForm" (load)="userForm.form.reset" (ngSubmit)="formSubmit(userForm)">
    <div class="mb-3">
      <label for="title" class="form-label">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="myUser.name.firstname" name="firstname" required #firstname="ngModel">
    </div>
    <span *ngIf="!firstname.valid && firstname.touched " class="text-danger">
      *First Name is required
    </span>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="myUser.name.lastname" name="lastname" required #lastname="ngModel">
    </div>
    <span *ngIf="!lastname.valid && lastname.touched " class="text-danger">
      *Last Name is required
    </span>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" [(ngModel)]="myUser.email" name="email" required #email="ngModel">
    </div>
    <span *ngIf="!email.valid && email.touched " class="text-danger">
      *Email is required
    </span>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone No</label>
      <input type="text" class="form-control" [(ngModel)]="myUser.phone" name="phone" required #phone="ngModel">
    </div>
    <span *ngIf="!phone.valid && phone.touched " class="text-danger">
      *Phone No is required
    </span>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" [(ngModel)]="myUser.address.city" name="city" required #city="ngModel">
    </div>
    <span *ngIf="!city.valid && city.touched " class="text-danger">
      *City is required
    </span>
   <div>

    <button  class="btn btn-primary" [disabled]="userForm.invalid">
      Add
    </button>
   </div>

  </form>


</div>
